@font-face {
	font-family: Roboto;
	src: url('Roboto.ttf');
}
body {
	background-color:#e7e7e7;
	font-family:'Roboto';
	}
canvas { /* Game container */
    display: block; /* Takes up full width, makes new lines before and after */
    margin-left:350px; /* Centers the element */
	/*float:right;*/
    border: 1px solid black;
}

#wrapper {
	width: 900px;
	margin:auto;
	background-color:white;
}

/* Stats
-----------------------------------------------------------------------------*/

table#tableHighScoresPlayers {
width:90%;
border:1px solid #e5eff8;
border-spacing:2px;
}
#highScoresPlayer
{
	margin:50px;
}

#charts {
	display:inline-block;
}

#numberOfGames {
	font-size:40px;
	margin:50px;
	display:inline-block;
}

#highScoresPlayer {
	display:block;
	float:right;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	background-color: white;
	height: 300px;
	font-family: Roboto;
}


/* Middle
-----------------------------------------------------------------------------*/
#showhideregister
{
	margin:auto;
	font-size:20px;
}

#showhideregister:hover
{
	cursor:pointer;
}

#slideToStats
{
	font-size:20px;
}
#slideToStats:hover
{
	cursor:pointer;
}

#logout
{
	display:block;
	width:100%;
}

#middle
{
	border-right: 3px solid #c0c0c0;
	border-left: 3px solid #c0c0c0;
	overflow: hidden;
}


#game {
	width: 100%;
	height: 1%;
	position: relative;
	padding: 20px;
}
#game:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#buttons {
	margin-top:1px;
	margin-bottom:1px;
	padding:5px;
	width:100%;
	text-align:center;
	background: #404040;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#scores {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	background: #c0c0c0;
	overflow: hidden;
	padding:10px;
}

#right {
	float:right;
}
#left {
	float:left;
}

.cf:before,
.cf:after {
    content: ""; 
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
	outline: 0;
}
form#loginform,form#registerform {
	margin:20px;
	border-radius:3px;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}
.ui-dialog-titlebar-close {
  visibility: hidden;
}
pre.msg {
background-color:#00AB66;
}
pre.msg {
background-color:#00AB66;
}
pre.err {
background-color:#B00000;
}